%link{:href => "/stylesheets/flip.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/

.container.flippable
  .card
    .face.front
      %img{:alt => "", :src => "http://img.tweetimag.es/i/sixthburrito_b"}/
    .face.back
      something here

.container.flippable#jm3
  .card
    .face.front
      %img{:alt => "", :src => "http://img.tweetimag.es/i/therealjm3_b"}/
    .face.back
      something here
