/ valid HTML5, for what that's worth: http://validator.w3.org/check?uri=http://jm3.net/
/ CSS missing

#header
  %h1 Realtime Monitoring

#page
  %h2
    live feed of campaign traffic

%aside
  (notes)

%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
:javascript
  var source = new EventSource('stream');
  source.onmessage = function (event) {
    console.log(event.data);
  };

