<!DOCTYPE html>
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}/
    %title<
      = "★ Realtime Monitoring ★ by jm3"
    %meta{:content => "Realtime Monitoring", :name => "description"}
    %meta{:content => "John Manoogian III / jm3@jm3.net", :name => "author"}/
    = @meta
    %link{:href => @favicon || img_path("/images/favicon.png"), :rel => "shortcut icon"}/
    = yield_content :meta
  %body{:onload => @onload || ""}

    .topbar
      .topbar-inner
        .container-fluid
          %a.brand{:href => "/"} Realtime Monitor
          %ul.nav
            %li.active
              <a href="#impressions" data-value="impressions" class="ajax">Impressions</a>
            %li
              <a href="#clicks" data-value="clicks" class="ajax">Clicks</a>
            %li
              <a href="#users" data-value="users" class="ajax">Users</a>
          %p.pull-right
            Logged in as
            %a{:href => "#"} @jm3

    .container-fluid
      .sidebar
        .well
          %h5 Sidebar
          %ul
            %li
              Created by
              %a{:href => "http://jm3.net"} jm3
            %li
              Fork the
              %a{:href => "http://github.com/jm3/realtime-monitor"} Code
            %li
              CSS grid by
              %a{:href => "http://github.com/jm3/realtime-monitor"} Bootstrap
            %li
              %a{:href => "https://twitter.com/intent/user?screen_name=jm3"} Twitter
      .content
        / Main hero unit for a primary marketing message or call to action
        .hero-unit
          %h1 Observe everything.
          %h1 Miss nothing.
          %hr
          %p 
            Server-side events happen at the speed of electrons and
            with the fluidity of mercury.  Don't miss out.

          \#{yield}
          %p{ :style => "clear: both;" }
            %hr
            %a.btn.primary.large Learn more »
        / Example row of columns
        .row
          .span5
            %h2 We Use Redis.
            %p 
              Redis is an in-memory
              %a{:href => "http://redis.io/"} data structure server 
              with support for Pub-Sub, fast sorted sets, master-slave
              replication, and safe atomic operations.

            %p
              %a.btn{:href => "http://redis.io/"} Learn More »
          .span5
            %h2 WebSockets Rock
            %p 
              %a{:href => "http://en.wikipedia.org/wiki/WebSocket"}
                Web Sockets
              and
              %a{:href => "http://en.wikipedia.org/wiki/Server-sent_events"}
                Server-Sent Events
              are the new HTML5 hotness way of streaming data back to a browser asynchronously without polling or page-reloading.
              
            %p
              %a.btn{:href => "http://en.wikipedia.org/wiki/Server-sent_events"} Sockets and SSEs »
          .span5
            %h2 Rainbows is Rad
            %p 
              Rainbows is like 
              %a{:href => "http://unicorn.rubyforge.org/"} Unicorn 
              for asynchronous and slow clients. It's perfect for
              streaming unpredictable data over a socket back to
              the browser.

            %p
              %a.btn{:href => "http://rainbows.rubyforge.org/"} Learn More »

        %footer
          %p 
            &copy;
            %a{:href => "https://twitter.com/intent/user?screen_name=jm3"} @jm3,
            2012


  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

  :javascript
    try {
      _gaq.push(
        ["_setAccount", "TBD"],
        ["_trackPageview"]
      );
    } catch(err) {}
  %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
