<!DOCTYPE html>
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}/
    %title<
      = @page_title
    %meta{:content => @meta_description || "Realtime Monitoring", :name => "description"}
    %meta{:content => "140 Proof / John Manoogian III / jm3@140proof.com", :name => "author"}/
    = @meta
    %link{:href => @favicon || img_path("/images/favicon.png"), :rel => "shortcut icon"}/
    = yield_content :meta
  %body{:onload => @onload || ""}

    .topbar
      .topbar-inner
        .container-fluid
          %a.brand{:href => "#"} Realtime Monitor
          %ul.nav
            %li.active
              <a href="#impressions" data-value="impressions" class="ajax">Impressions</a>
            %li
              <a href="#clicks" data-value="clicks" class="ajax">Clicks</a>
            %li
              <a href="#users" data-value="users" class="ajax">Users</a>
          %p.pull-right
            Logged in as
            %a{:href => "#"} @jm3

    .container-fluid
      .sidebar
        .well
          %h5 Sidebar
          %ul
            %li
              %a{:href => "http://admin.140proof.com"} Admin Tools
            %li
              %a{:href => "#"} Link
      .content
        / Main hero unit for a primary marketing message or call to action
        .hero-unit
          %h1 Observe everything.
          %h1 Miss nothing.
          %p Click and impression events happen at the speed of electrons and with the fluidity of mercury. Don't miss out.
          \#{yield}
          %p{ :style => "clear: both;" }
            %a.btn.primary.large Learn more »
        / Example row of columns
        .row
          .span6
            %h2 We Use Redis
            %p Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            %p
              %a.btn{:href => "#"} View details »
          .span5
            %h2 WebSockets Rock
            %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            %p
              %a.btn{:href => "#"} View details »
          .span5
            %h2 Rainbows is Rad
            %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            %p
              %a.btn{:href => "#"} View details »

        %hr
        %footer
          %p © 140 Proof 2012


  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

  :javascript
    try {
      _gaq.push(
        ["_setAccount", "TBD"],
        ["_trackPageview"]
      );
    } catch(err) {}
  %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
