html { background:none repeat scroll 0 0 #FFFFFF; color:#000000; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input, button, textarea, p, blockquote, td { margin:0; padding:0; }
img { border:0 none; } 
li { list-style:none outside none; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
body { font:13px/1.231 arial,helvetica,clean,sans-serif; }
table { font-size:inherit; }
