a, link {
  color: #ff6600;
  text-decoration: none;
  padding: 5px 0;
}

a:hover {
  color: red;
  background-color: #eeeeee;
}

abbr { border-bottom: 1px dotted #ff6600; }
abbr:hover { color: black; }

.subtle {
  color: gray;
}

h2 a, dt a {
	color: inherit;
}

#log {
  font-size: 11px;
  font-weight: bold;
  font-family: monospace;
  padding: 1.0em;
  background: #111;
  color: #00ff00;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.user {
  padding: 3px;
}
