/* main jm3.net styles */

body {
  font-family: "Chaparral Pro", Georgia, serif;
  width: 49em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.0em;
  text-align: center;
	background-color: #fff;
}

@font-face {
  font-family: "Chaparral Pro";
}

h3 a {
  margin-right: 0.5em;
  padding: 0.3em;
}

h3 a:after {
  color: black;
  content: ".";
}

a, link {
  color: #ff6600;
  text-decoration: none;
  padding: 5px 0;
}

a:hover {
  color: red;
  background-color: #eeeeee;
}

dt {
  font-size: 170%;
  font-weight: bold;
  margin-top: 1.0em;
  margin-bottom: 0.1em;
}

dd {
  font-size: 90%;
  margin-left: 1.0em;
  margin-bottom: 2.4em;
}

dl {
  width: 40em;
  margin: 0 auto;
  padding: 0.3em 0 0.5em 2.0em;
  border-top:    1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: left;
}

h2 > small {
  color: #aaaaaa;
  font-size: 100%;
}

abbr { border-bottom: 1px dotted #ff6600; }
abbr:hover { color: black; }

.subtle {
  color: gray;
}

h2 a, dt a {
	color: inherit;
}

#page {
  height: 600px;
  border: 1px solid red;
}
